<ion-view>

  <ion-header-bar class="bar-positive">
    <h1 class="title" translate="Profile"></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="skipProfile()">Skip</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <div class="profile-name" ng-click="showProfileChoice()">
      {{profile}}
    </div>
    <div class="row step1">
      <div class="col">
        <img class="avatar"
             user-avatar
             ng-model="user"
             ng-src="{{ currentUser.photo.url() || profileImage }}"/>
      </div>
    </div>
    <div class="step2">
      <form name="myForm" novalidate="novalidate" on-submit="submitAvatar(myForm, form)">

        <label class="item item-input validated" ng-if="profile=='Employee'">
          <i class="icon ion-drag placeholder-icon"></i>
          <input required
                 type="text"
                 name="headline"
                 ng-model="form.headline"
                 placeholder="{{'Headline/Job Title'|translate}}"/>
        </label>

        <label class="item item-input validated">
          <i class="icon icon-envelope placeholder-icon"></i>
          <input required="required"
                 disabled
                 type="email"
                 name="email"
                 ng-model="form.email"
                 placeholder="user@example.com"/>
        </label>

        <label class="item item-input validated">
          <i class="icon ion-at placeholder-icon"></i>
          <input required="required"
                 disabled
                 type="text"
                 name="username"
                 ng-model="form.username"
                 ng-minlength="4"
                 ng-maxlength="12"
                 ng-model-options="{debounce: 1000}"
                 placeholder="{{'yourLogin' | translate}}"/>
        </label>

        <div ng-if="myForm.username.$dirty">
          <div ng-messages="myForm.email.$error" class="validation-error">
            <div ng-message="required" translate="usernameRequired"></div>
            <div ng-message="email" translate="usernameInUse"></div>
          </div>
          <div ng-messages="myForm.email.$pending" class="validation-pending">
            <div ng-message="email" translate="checkingUsername"></div>
          </div>
        </div>

        <label class="item item-input validated">
          <i class="icon icon-user placeholder-icon"></i>
          <input required
                 type="text"
                 name="name"
                 ng-model="form.name"
                 placeholder="{{namePlaceholder|translate}}"/>
        </label>

        <label class="item item-input validated">
          <i class="icon ion-ios-location-outline placeholder-icon"></i>
          <input required
                 type="text"
                 name="status"
                 ng-model="form.status"
                 placeholder="{{addressPlaceholder|translate}}"/>
        </label>
        <label class="item item-input validated">
          <i class="icon ion-android-call placeholder-icon"></i>
          <input required
                 type="tel"
                 name="phone"
                 ng-model="form.phone"
                 placeholder="{{phonePlaceholder|translate}}"/>
        </label>
        <label class="item item-input validated">
          <i class="icon icon-envelope placeholder-icon"></i>
          <input required="required"
                 type="email"
                 name="email"
                 ng-model="form.bizemail"
                 placeholder="{{bizemailPlaceholder|translate}}"/>
        </label>
        <label class="item item-input validated" ng-if="profile=='Employer'">
          <i class="icon ion-ios-world-outline placeholder-icon"></i>
          <input required
                 type="text"
                 name="website"
                 ng-model="form.website"
                 placeholder="{{websitePlaceholder|translate}}"/>
        </label>
        <label class="item item-input validated" ng-if="profile=='Employee'">
          <i class="icon ion-ios-glasses placeholder-icon"></i>
          <input required
                 type="text"
                 name="exp"
                 ng-model="form.exp"
                 placeholder="{{'Experience'|translate}}"/>
        </label>
        <label class="item item-input validated" ng-if="profile=='Employee'">
          <i class="icon ion-ios-calendar-outline placeholder-icon"></i>
          <input required
                 type="text"
                 name="avail"
                 ng-model="form.avail"
                 placeholder="{{'Availability'|translate}}"/>
        </label>
        <label class="item item-input validated" ng-if="profile=='Employee'">
          <i class="icon ion-university placeholder-icon"></i>
          <input required
                 type="text"
                 name="edu"
                 ng-model="form.edu"
                 placeholder="{{'Education'|translate}}"/>
        </label>
        <label class="item item-input validated" ng-if="profile=='Employee'">
          <i class="icon ion-cash placeholder-icon"></i>
          <input required
                 type="number"
                 name="salary"
                 ng-model="form.salary"
                 placeholder="{{'Desired Salary'|translate}}"/>
        </label>
        <ion-item class="item-icon-left select-industry-icon" ng-click="openSkillsSelectModal()" ng-if="profile=='Employee'">
          <i class="icon ion-gear-b "></i>
          <h3>
            <small>Your skills</small>
          </h3>
          <div class="industry-tags valign-child">
            <div class="industry-tag-small selected"
                 ng-repeat="skill in skills">
              {{skill}}
            </div>
          </div>
        </ion-item>
        <ion-item class="item-icon-left select-industry-icon" ng-click="openIndustrySelectModal()">
          <i class="icon ion-gear-b "></i>
          <h3>
            <small translate="industries"></small>
          </h3>
          <div class="industry-tags valign-child">
            <div class="industry-tag-small selected"
                 ng-repeat="industry in selected">
              {{industry}}
            </div>
          </div>
        </ion-item>

        <div class="padding">
          <button class="button button-block button-positive"
                  type="submit"
                  translate="{{'submit' | translate}}">
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
